body {
  background: olivedrab;
}

div3 {
  color: lightgreen;
  font-family: helvetica, sans-serif;
  font-size: 40pt;

  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div2 {
  color: springgreen;
  font-family: helvetica;
  font-style: italic;
  font-size: 15pt;

  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

/*div1 {

  margin-left: auto ;
  margin-right: auto ;
  font-family: helvetica, sans-serif;
  color: springgreen;

  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}*/



.Row {
display: block ;
}

.Cell {
  display: inline-block;
  width: 47px;
  height: 47px;
  background-color: green;
}

.gameboard {
    width: 800px ;
    margin-left: auto ;
    margin-right: auto ;


}
